<ion-card>
  <div class="margin">
    <ion-card-header>
      <ion-card-title color="primary">Corporate Guarantee&nbsp;<sup>(step 4 of 5)</sup> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="margin-top">
        <ion-button class="big-btn row-flex" color="success" shape="round">
          <ion-icon slot="start" src="../assets/images/icons/microsoft-excel.svg" size="medium"></ion-icon>
          <p class="row-flex" id="template-text"><span>Corporate&nbsp;</span> <span>Guarantee&nbsp;</span>
            <span>related&nbsp;</span> <span>financials&nbsp;</span> <span>template&nbsp;</span></p>
          <ion-icon slot="end" name="arrow-down"> </ion-icon>
        </ion-button>
      </div>
      <div class="margin-top">
        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input type="file"> </ion-input>
          <ion-icon slot="end" name="cloud-upload-outline" style="color: #407bbf"></ion-icon>
        </ion-item>
      </div>
    </ion-card-content>
  </div>
</ion-card>
