<ion-card>
  <div class="margin">
    <ion-card-header>
      <ion-card-title color="primary"> Upload Support Documents <sup>(step 5 of 5)</sup> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="column-flex">
        <div class="content margin-top">
          <ion-text color="medium"> Please compile all support documents into a PDF and upload here. The submitted
            document will be used in the review process. </ion-text>
        </div>
        <div class="content margin-top">
          <ion-text>All support documents compiled as a single PDF</ion-text>
        </div>
        <div class="content margin-top">
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-input type="file"> </ion-input>
            <ion-icon slot="end" name="cloud-upload-outline" style="color: #407bbf"></ion-icon>
          </ion-item>
        </div>
        <div class="content margin-top">
          <ion-button shape="round">Submit for approval <ion-icon slot="end" name="checkmark-done-outline">
            </ion-icon>
          </ion-button>
        </div>
        <div class="content margin-top">
          <ion-button shape="round">Save as Draft <ion-icon slot="end" name="save-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </div>
</ion-card>
