.right {
  float: right;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.min-width {
  min-width: 260px;
}
