.column-flex {
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.end {
  margin-top: 2%;
  margin-bottom: 10%;
}
