.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.margin {
  margin: 5%;
}

ion-radio {
  padding: 3px;
}

ion-label {
  padding-left: 10px;
  padding-right: 10px;
}

.zero-margin {
  margin-bottom: -10px;
  padding: 0px;
}
