<ion-card class="min-height">
  <div class="margin column-flex">
    <ion-card-header>
      <ion-card-title color="primary">{{scorecard.customer.name}}</ion-card-title>
      <ion-card-subtitle *ngIf="scorecard.status !== 'draft'">Scores</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>


      <div class="row-flex">
        <ion-item *ngIf="scorecard.status !== 'draft'">
          <div class="text-center">
            <ion-text color="primary">Average FRR</ion-text>
            <br>
            <ion-text [color]="scorecard.frrColor()">
              {{(scorecard.customer.wtdAvgFacilityScore) | number }}</ion-text>
          </div>
        </ion-item>

        <ion-item class="column-flex" *ngIf="scorecard.status !== 'draft'">
          <div class="text-center">
            <ion-text color="primary">ORR</ion-text>
            <br>
            <ion-text [color]="scorecard.orrColor()">{{scorecard.orr}}</ion-text>
          </div>
        </ion-item>


        <ion-item class="column-flex">
          <div class="text-center">
            <ion-text color="primary">Status</ion-text>
            <br>
            <ion-text color="medium">{{scorecard.status}}</ion-text>
          </div>
        </ion-item>

      </div>

      <div class="row-flex">
        <ion-button color="warning" size="medium">
          <ion-icon name="pencil-outline" style="color: #ffffff;"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="medium">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </div>
</ion-card>
