ion-searchbar {
  --border-radius: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.search-list {
  z-index: 9999;
  position: absolute;
  margin: 12.5%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  width: 75%;
  margin-top: -8px;
  border: 1px solid #cccccc;
  padding: 5px 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: auto;
  max-height: 50%;
}

.hover {
  cursor: pointer;
}

a:active,
a:focus {
  background-color: #a3c1dd1e;
}

.hover > a {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px;
}

.text {
  padding-left: 10px;
}
