/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'alizz_font';
  src: url('./assets/fonts/tiresias_pcfont_z_regular-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/tiresias_pcfont_z_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: 'alizz-font' !important;
}

h1 {
  font-size: 14px;
  text-align: center;
  color: #407bbf;
}

a {
  text-decoration: none;
}

.content {
  max-width: 80%;
  margin: auto;
}

ion-searchbar {
  border-radius: 25%;
}
ion-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  border-radius: 50px 25px 50px 10px;
  margin-top: 5%;
  margin-bottom: 10%;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
