<app-navbar [title]="title"></app-navbar>
<ion-content appScrollBar>
    <ion-button *ngIf="!start" fill="clear" id="left-arrow" (click)="prevSlide()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!end" fill="clear" id="right-arrow" (click)="nextSlide()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
    <app-basic-customer-details *ngIf="scorecard" [scorecard]="scorecard">
    </app-basic-customer-details>
    <ion-slides #scorecardSlides pager="true" [options]="slideOpts" #sliders (ionSlideDidChange)="checkSlide()">
        <ion-slide>
            <app-getting-started class="width-80" [scorecardDictionary]="scorecardDictionary" [scorecard]="scorecard">
            </app-getting-started>
        </ion-slide>
        <ion-slide>
            <app-orr class="width-80" [scorecardDictionary]="scorecardDictionary" [scorecard]="scorecard"></app-orr>
        </ion-slide>
        <ion-slide>
            <div class="column-flex">
                <ion-title color="primary"> Facilities & collaterals <sup>(step 3 of 5)</sup> </ion-title>
                <div class="row-flex">
                    <app-facility-form></app-facility-form>
                    <app-facility-form></app-facility-form>
                    <app-facility-form></app-facility-form>
                    <app-facility-form></app-facility-form>
                </div>
                <ion-button class="end">Add Facility</ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <app-corporate-guarantee class="width-80" [scorecard]="scorecard"></app-corporate-guarantee>
        </ion-slide>
        <ion-slide>
            <app-support-documents class="width-80" [scorecard]="scorecard"></app-support-documents>
        </ion-slide>
    </ion-slides>
</ion-content>
