.column-flex {
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.end {
  margin-top: 2%;
  margin-bottom: 10%;
}

.margin {
  margin: 5%;
}

.margin-medium {
  margin: 10%;
}

.margin-large {
  margin: 25%;
}

.margin-top {
  margin-top: 5%;
}

.big-btn {
  height: 60px;
}

.width-80 {
  min-width: 80%;
  max-width: 80%;
}

#right-arrow {
  position: fixed;
  bottom: 40%;
  right: 2%;
  z-index: 1000;
  opacity: 0.3;
}

#right-arrow:hover {
  opacity: 0.9;
}

#left-arrow {
  position: fixed;
  bottom: 40%;
  left: 1%;
  z-index: 1000;
  opacity: 0.3;
}

#left-arrow:hover {
  opacity: 0.9;
}
